header{
    position: relative;
    background-color: #763cad;  
    padding: 15px 0; 
}
header p{
    color: #faa307; 
    margin: 15px 0 15px 25px;
    font-size: 20px;
    font-weight: 600;
}
.navbar-home-link{
    position: absolute;
    width: 35px;
    opacity: 0.9;
    right: 12%;
    top: 1%;
    font-size: 20px;
    font-weight: 600;
    // text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
}
header img{
    position: absolute;
    width: 35px;
    opacity: 0.9;
    right: 4%;
    top: 19%;
    cursor: pointer;
}


.dropdown-menu-header {
    display: none; 
    position: absolute; 
    top: 80%; 
    right: 0; 
    background-color: whitesmoke;
    border-radius: 15px;
    padding-left: 12px;
       
}
  
.dropdown-menu-header.visible { 
    display: block; 
}
.dropdown-menu-header .list .dropdown-link{
    text-decoration: none;
    color: black;
}
.dropdown-menu-header .list .dropdown-link:hover {
    color: #faa307;
}

/* Media Queries for responsive text */
@media (max-width: 990px) {
    .navbar-home-link{
        right: 16%;
    }
}
@media (max-width: 768px) {
    .header-text-full {
        display: inline;
    }
    .header-text-short {
        display: none;
    }
    .navbar-home-link{
        right: 16%;
    }
}
@media (min-width: 768px) {
    .header-text-full {
        display: inline;
    }
    .header-text-short {
        display: none;
    }
}

@media (max-width: 530px) {
    .header-text-full {
        display: none;
    }
    .header-text-short {
        display: inline;
    }
    .navbar-home-link{
        right: 28%;
    }
}